<div ng-controller="stately.ViewController" class="stately">
    <h3><span class="icon icon-hat"></span> Stately</h3>
    <h4>Page-state icons</h4>
    <p>Stately applies icons in the order they appear in below - if a node matches on the first state, Stately won't apply subsequent icons.</p>
    <p>The true/false flag will match on both the presence of a value in the specified property or a true/false value existing in the specified property.</p>
    <table>
        <thead>
            <tr>
                <th class="alias-col">Property alias</th>
                <th class="value-col">Has value?</th>
                <th class="icons-col">Icon</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="sort" ng-model="data">
            <tr ng-repeat="d in data track by $index" ng-class="{'disabled': d.Disabled === true}">
                <td class="alias-col"><input type="text" ng-model="d.PropertyAlias" no-dirty-check/></td>
                <td>
                    <select ng-model="d.Value" ng-options="o.v as o.n for o in [{ n: 'False', v: 'false' }, { n: 'True', v: 'true' }]" no-dirty-check></select>
                </td>
                <td class="icon {{d.CssClass}} stately_{{d.CssColor}}" ng-click="changeIcon($index)" title="Change icon"></td>
                <td class="control-btns">
                    <div ng-if="sort.disabled != false">
                        <span class="icon icon-power" ng-click="disableRow($index)" title="Disable" stop-event></span>
                        <span class="icon icon-delete" ng-click="removeRow($index)" title="Delete" stop-event></span>
                    </div>
                    <span class="sorter icon icon-navigation-vertical" ng-if="sort.disabled == false" stop-event></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn" ng-click="addRow()">Add</button>
    <button class="btn" ng-class="{'active': sortable === true}" ng-click="enableSorting()">Sort</button>
    <button class="btn btn-success" ng-click="saveSettings()">Save</button>
</div>