$umbPink: #f5c1bc;

$black: #000000;
$blueGrey: #607D8B;
$grayIcon: #9E9E9E;
$brownIcon: #795548;
$blueIcon: #2196F3;
$lightBlueIcon: #03A9F4;
$indigoIcon: #3F51B5;
$purpleIcon: #9C27B0;
$deepPurpleIcon: #673AB7;
$cyanIcon: #00BCD4;
$greenIcon: #4CAF50;
$lightGreenIcon: #8BC34A;
$limeIcon: #CDDC39;
$yellowIcon: #FFEB3B;
$amberIcon: #FFC107;
$orangeIcon: #FF9800;
$deepOrangeIcon: #FF5722;
$redIcon: #F44336;
$pinkIcon: #E91E63;