.umb-tree ul div[style*="padding-left"].stately-icon::before {
  left: 27px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 47px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 67px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 87px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 107px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 127px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 147px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 167px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 187px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 207px; }

.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 227px; }

.stately-icon::before {
  display: inline-block;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  position: absolute;
  top: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.stately-icon > i + a, .stately-icon[class^="icon-"], .stately-icon[class*=" icon-"] {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

.stately-icon[class^="icon-"]::before, .stately-icon[class*=" icon-"]::before {
  font-family: 'icomoon'; }

.stately-icon[class^="icon-gmd-"]::before, .stately-icon[class*=" icon-gmd-"]::before {
  font-family: 'Material Design Iconic Font'; }

.stately-icon[class^="icon-whhg-"]::before, .stately-icon[class*=" icon-whhg-"]::before {
  font-family: 'WebHostingHub-Glyphs'; }

.stately-icon[class^="icon-fa-"]::before, .stately-icon[class*=" icon-fa-"]::before {
  font-family: FontAwesome; }

.stately-color-red::before {
  color: #d90416; }

.stately-color-blue::before {
  color: #04bfbf; }

.stately-color-orange::before {
  color: #d9631e; }

.stately-color-green::before {
  color: #0fbf67; }

.stately-color-yellow::before {
  color: #f28729; }

.stately table {
  max-width: 750px; }

.stately .icon-picker {
  cursor: pointer; }
  .stately .icon-picker:hover {
    opacity: .5; }
  .stately .icon-picker::before {
    margin: 0 auto;
    line-height: 30px; }

.stately .disabled, .stately .disabled * {
  opacity: .75; }

.stately .btn + .btn {
  margin-left: 5px; }

.stately input, .stately select {
  margin-bottom: 0; }

.stately .icon-picker {
  width: 20px;
  height: 20px;
  font-size: 30px;
  display: block; }
