@import "colors" ;

// need to calculate icon position based on nesting level of node 
// each step adds 20px to the left, starting from 47px
// it's dirty, but 15 steps should be enough...

@mixin depth($depth: 1) {
    $chain: '';

    @for $i from 0 to $depth {
        $chain: $chain + ' > ul > .umb-tree-item';
    }
  
    & #{$chain} { @content; }
} 

@mixin fromLeft($x) {
    left: #{($x * 20) + 30}px;
}

.umb-tree-item { 

    &.stately-icon::before {
        left:50px;
    }

    @for $i from 1 through 10 {
        @include depth($i) {
            &.stately-icon::before {
                @include fromLeft($i);
            }
        }
    } 
}

.stately-tablerow {
    &.disabled, &.disabled * {
        opacity: .75;
    }

    &.recolor:not(.replace) {
        .iconpicker::before {
            content:'\e055';
        }
    }
}

.stately-icon {
    position: relative;

    &::before {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'icomoon';
        text-decoration: inherit;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 1;
        position: absolute;
        top: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 1;
        // present same as umb-tree-item--annotation
        border-radius: 50%;
        background: #fff;
        width: 12px;
        height: 12px;
    }

    &.current {
        &::before {
            background: $umbPink;
        }
    }

    &.is-container,
    &.has-unpublished-version {
        &::before {
            display: none;
        }
    }

    // baseline font reset - any element with the icon- class uses the default, icon is applied to ::before pseudo
    > i + a, &[class^="icon-"], &[class*=" icon-"] {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

.stately {
    table {
        max-width: 1000px;
    }

    .iconpicker {
        cursor: pointer;
        width: 30px; 
        height: 30px;
        font-size: 30px;
        display: block;

        &:hover {
            opacity: .5;
        }

        &::before {
            margin: 0 auto;
            line-height: 30px;
        }
    }

    .text-center {
        text-align:center;

        .btn:first-child {
            margin-left:-15px;
            float:left;
        }

        .btn:last-child {
            margin-right:-15px;
        }
    }

    input, select {
        margin-bottom: 0;
    }
} 
