<div ng-controller="stately.controller as vm" class="stately">

    <umb-box>
        <umb-box-content>
            <h3 class="bold">Stately - page state icons</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Property alias</th>
                        <th>Has value?</th>
                        <th>Replace existing?</th>
                        <th>Recolor existing?</th>
                        <th>Icon/color</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ui-sortable="vm.sortableOptions" ng-model="vm.data">
                    <tr ng-repeat="d in vm.data track by $index" class="stately-tablerow" ng-class="{'disabled': d.disabled === true, 'recolor': d.recolor, 'replace': d.replace}">
                        <td>
                            <span class="icon icon-navigation handle"></span>
                        </td>
                        <td>
                            <select ng-model="d.propertyAlias" ng-options="alias for alias in vm.aliases" no-dirty-check></select>
                        </td>
                        <td>
                            <umb-toggle checked="d.value" on-click="d.value = !d.value">
                            </umb-toggle>                           
                        </td>
                        <td>
                            <umb-toggle checked="d.replace" on-click="d.replace = !d.replace">
                            </umb-toggle>
                        </td>
                        <td>
                            <umb-toggle checked="d.recolor" on-click="d.recolor = !d.recolor">
                            </umb-toggle>
                        </td>
                        <td>
                            <span class="iconpicker icon {{d.cssClass}} {{d.cssColor}}" ng-click="vm.changeIcon($index)" title="Change icon"></span>
                        </td>
                        <td class="text-center">
                            <button role="button" class="btn" ng-class="{'btn-success' : d.disabled }" ng-click="vm.disableRow($index)" title="Disable" ng-bind="d.disabled ? 'Enable' : 'Disable'"></button>
                            <button role="button" class="btn btn-danger" ng-click="vm.removeRow($index)" title="Delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="mb3">
                <button role="button" class="btn" ng-click="vm.addRow()">Add</button>
                <button role="button" class="btn btn-success" ng-click="vm.saveSettings()">Save</button>
            </div>

            <p>Stately applies icons in the order they appear above - if a node matches on the first state, Stately won't apply subsequent icons.</p>
            <p>The true/false flag will match on both the presence of a value in the specified property or a true/false value existing in the specified property.</p>
        </umb-box-content>
    </umb-box>
</div>