<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting propertyAlias="subTitle" value="true" cssClass="icon-truck" cssColor="color-black" disabled="false"></Setting>  
  <Setting propertyAlias="bodyText" value="true" cssClass="icon-umbrella" cssColor="color-blue" disabled="true"></Setting>
  <Setting propertyAlias="featureHeader" value="true" cssClass="icon-gift" cssColor="color-green" disabled="false"></Setting>
</Settings>