.umb-tree ul div[style*="padding-left"].stately-icon::before {
  left: 27px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 47px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 67px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 87px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 107px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 127px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 147px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 167px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 187px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 207px; }
.umb-tree ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"] + ul div[style*="padding-left"].stately-icon::before {
  left: 227px; }

.stately-icon::before {
  display: inline-block;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  position: absolute;
  top: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.stately-icon > i + a, .stately-icon[class^="icon-"], .stately-icon[class*=" icon-"] {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.stately-icon[class^="icon-"]::before, .stately-icon[class*=" icon-"]::before {
  font-family: 'icomoon'; }
.stately-icon[class^="icon-gmd-"]::before, .stately-icon[class*=" icon-gmd-"]::before {
  font-family: 'Material Design Iconic Font'; }
.stately-icon[class^="icon-whhg-"]::before, .stately-icon[class*=" icon-whhg-"]::before {
  font-family: 'WebHostingHub-Glyphs'; }
.stately-icon[class^="icon-fa-"]::before, .stately-icon[class*=" icon-fa-"]::before {
  font-family: FontAwesome; }

.stately-color-red::before {
  color: #d90416; }

.stately-color-blue::before {
  color: #04bfbf; }

.stately-color-orange::before {
  color: #d9631e; }

.stately-color-green::before {
  color: #0fbf67; }

.stately-color-yellow::before {
  color: #f28729; }

.stately {
  max-width: 500px; }
  .stately input {
    width: 170px; }
  .stately select {
    width: 75px; }
  .stately h3 {
    font-size: 38.5px;
    position: relative;
    padding-left: 50px; }
    .stately h3 span {
      color: #df7f48;
      background: #1d1d1d;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 0;
      width: 40px;
      height: 40px; }
  .stately h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .stately p {
    max-width: 500px;
    margin-top: 15px; }
    .stately p:first-of-type {
      margin-top: 45px;
      padding-top: 15px;
      border-top: 1px solid #eee; }
  .stately table {
    margin-bottom: 30px; }
    .stately table th {
      background: #1d1d1d;
      color: #fff; }
      .stately table th.icons-col {
        padding: 5px 10px; }
    .stately table td {
      padding: 5px; }
      .stately table td:first-child {
        padding-left: 0; }
      .stately table td.icon {
        cursor: pointer;
        text-align: center; }
      .stately table td.alias-col {
        width: 184px; }
      .stately table td.value-col {
        width: 85px; }
      .stately table td:nth-child(3) {
        width: 55px;
        text-align: center; }
  .stately .icon-picker {
    cursor: pointer; }
    .stately .icon-picker:hover {
      opacity: 0.5; }
    .stately .icon-picker::before {
      margin: 0 auto;
      line-height: 30px; }
  .stately .disabled, .stately .disabled * {
    opacity: 0.75; }
  .stately .control-btns {
    min-width: 48px;
    margin: 0;
    background: #eee; }
    .stately .control-btns span {
      cursor: pointer;
      padding: 5px;
      display: block;
      float: left; }
      .stately .control-btns span.icon-delete:hover {
        color: red; }
      .stately .control-btns span.icon-power:hover {
        color: blue; }
      .stately .control-btns span:hover {
        background: #eee; }
    .stately .control-btns .sorter {
      float: none;
      text-align: center; }

/*# sourceMappingURL=stately.css.map */