<div ng-controller="stately.ViewController" class="stately">
    <table>
        <thead>
            <tr>
                <th>Property alias</th>
                <th>Has value?</th>
                <th>Icon</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data track by $index">
                <td>{{d.PropertyAlias}}</td>
                <td>
                    <select ng-model="d.Value" ng-options="o.v as o.n for o in [{ n: 'False', v: 'false' }, { n: 'True', v: 'true' }]">                        
                    </select>
                </td>
                <td class="icon {{d.CssClass}}" ng-click="changeIcon($index)" title="Change icon">{{d.CssClass}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" ng-click="saveSettings()">Save</button>
</div>